.profile-picture {
	max-width: 100%;
}

.col-md-4, .col-md-12 {
	padding: 3px;
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 700%;
}

h2 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 300%;
}

.icon-resize {
	padding-top: 4px;
	padding-left: 20px;
	padding-right: 0px;
	padding-bottom: 0px; 
}

.icon-title {
	padding-top: 0px;
}

.progress-bar {
	height: 100px;
}

.progress-red {
	background-color: #ff6666;
}

.progress-orange {
	background-color: #ffb366;
}

.progress-yellow {
	background-color: #ffe066;	
}

.progress-green {
	background-color: #85e085;
}

.progress-blue {
	background-color: #66e0ff;
}

.progress-pink {
	background-color: #ff80d5;
}

.progress-purple {
	background-color: #748DF2;
}