.profile-picture {
	max-width: 100%;
}

.cris-logo {
	padding-bottom: -10px;
}

.col-md-4, .col-md-12 {
	padding: 3px;
}

.clear {
    overflow:hidden
}

body {
    padding-bottom: 50px;
}

h1 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 665%;
}

h2 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 300%;
}

h3 {
	font-size: 150%;
}

h4 {
	font-color: black;
}

.icon-resize {
	padding-top: 4px;
	padding-left: 20px;
	padding-right: 0px;
	padding-bottom: 0px; 
}

.icon-title {
	padding-top: 0px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.progress-bar {
	height: 50px;
}

.progress-red {
	background-color: #ff6666;
}

.progress-orange {
	background-color: #ffb366;
}

.progress-yellow {
	background-color: #ffe066;	
}

.progress-green {
	background-color: #85e085;
}

.progress-blue {
	background-color: #66e0ff;
}

.progress-pink {
	background-color: #ff80d5;
}

.progress-purple {
	background-color: #748DF2;
}


/* Wrapper */
.icon-button {
	background-color: black;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}

.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}
.instagram span {
	background-color: #db3236;
}
.envelope-o span {
	background-color: #3cba54;
}
.internet-explorer span {
	background-color: #fbad50;
}
.linkedin span {
	background-color: #0077B5;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}

.icon-button .fa fa-twitter .icon-twitter {
	color: #4099ff;
}
.icon-button .fa fa-facebook .icon-facebook {
	color: #3B5998;
}
.icon-button .fa fa-instagram .icon-instagram {
	color: #8a3ab9;
}
.icon-button .fa fa-envelope-o .icon-envelope-o {
	color: #4099ff;
}
.icon-button .fa fa-internet-explorer .icon-internet-explorer {
	color: #3B5998;
}
.icon-button .fa fa-linkedin .icon-linkedin {
	color: #db5a3c;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-instagram, 
.icon-button:hover .icon-envelope-o,
.icon-button:hover .icon-internet-explorer,
.icon-button:hover .icon-linkedin {
	color: white;
}
